<footer class="footer p-4 bg-claro shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="p-2 text-center font-mono font-semibold leading-tight tracking-tight text-oscuro">>© 2023 <a href="" class="hover:underline" >Jeison Stiven Lopez Castro</a>. All Rights Reserved.</span>
    
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-500 sm:mt-0">
        <li>
            <a href="#" class="p-2 text-center font-mono font-semibold leading-tight tracking-tight text-oscuro">About</a>
        </li>
        <li>
            <a href="#" class="p-2 text-center font-mono font-semibold leading-tight tracking-tight text-oscuro">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="p-2 text-center font-mono font-semibold leading-tight tracking-tight text-oscuro" >Licensing</a>
        </li>
    </ul>

</footer>